In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [39]:
hotels = pd.read_csv('data/hotels.csv')
print(hotels['tags'][1])

[' Business trip ', ' Couple ', ' Standard Double Room ', ' Stayed 1 night ']

In [40]:
hotels['review_words_proportion'] =\
    hotels['review_total_positive_word_counts']\
        /((hotels['review_total_positive_word_counts']\
            +hotels['review_total_negative_word_counts'])/100)
hotels['review_words_proportion'].fillna(0)

0          57.142857
1          40.000000
2           0.000000
3         100.000000
4          83.333333
             ...
386798    100.000000
386799    100.000000
386800     42.857143
386801    100.000000
386802     50.000000
Name: review_words_proportion, Length: 386803, dtype: float64

In [41]:
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in hotels.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, hotels[col].nunique()) 
    # добавляем кортеж в список
    unique_list.append(item)
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

                                   Column_Name  Num_Unique
0                                average_score          34
1                               reviewer_score          37
2   total_number_of_reviews_reviewer_has_given         194
3                         reviewer_nationality         225
4            review_total_positive_word_counts         354
5            review_total_negative_word_counts         402
6                 additional_number_of_scoring         480
7                                  review_date         731
8                            days_since_review         731
9                      total_number_of_reviews        1142
10                                         lat        1472
11                                         lng        1472
12                                  hotel_name        1492
13                               hotel_address        1493
14                     review_words_proportion       10080
15                                        tags       47135
16                             negative_review      248828
17                             positive_review      311737

In [42]:
hotels = hotels.fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
 17  review_words_proportion                     386709 non-null  float64
dtypes: float64(5), int64(5), object(8)
memory usage: 53.1+ MB
None

Превращаем **average_score** в категорию.

In [43]:
counter = 0

average_score_preserved_mapper = dict()

for i in sorted(set(hotels['average_score'])):
    average_score_preserved_mapper.update({i:counter})
    counter += 1

print(average_score_preserved_mapper)

{5.2: 0, 6.4: 1, 6.6: 2, 6.7: 3, 6.8: 4, 6.9: 5, 7.0: 6, 7.1: 7, 7.2: 8, 7.3: 9, 7.4: 10, 7.5: 11, 7.6: 12, 7.7: 13, 7.8: 14, 7.9: 15, 8.0: 16, 8.1: 17, 8.2: 18, 8.3: 19, 8.4: 20, 8.5: 21, 8.6: 22, 8.7: 23, 8.8: 24, 8.9: 25, 9.0: 26, 9.1: 27, 9.2: 28, 9.3: 29, 9.4: 30, 9.5: 31, 9.6: 32, 9.8: 33}

In [44]:
hotels['average_score'] = hotels['average_score'].replace(average_score_preserved_mapper)
hotels['average_score'] = hotels['average_score'].astype(int)

In [45]:
#print(hotels['average_score'])
#hotels['average_score'] = hotels['average_score'].astype('category')

0         20
1         19
2         25
3         11
4         21
          ..
386798    26
386799    20
386800     4
386801    17
386802    26
Name: average_score, Length: 386803, dtype: int32

In [46]:
#max_unique_count = 50 # задаём максимальное число уникальных категорий
#for col in hotels.columns: # цикл по именам столбцов
#    if hotels[col].nunique() < max_unique_count: # проверяем условие
#        hotels[col] = hotels[col].astype('category') # преобразуем тип столбца
#display(hotels.info())

**Создаём признак hotel_country: страна, где находится отель**

In [49]:
countrified = pd.DataFrame()

def countrifier(string):
    cut = string.split()

    country = cut[-1:]

    country = country[0].removeprefix(' ').removesuffix('  ')

    if country == 'Kingdom':
        country = 'United Kingdom'
    return country

hotels['hotel_country'] = hotels['hotel_address'].apply(countrifier)

display(hotels['hotel_country'].value_counts())

United Kingdom    196774
Spain              45132
France             44830
Netherlands        43006
Austria            29178
Italy              27883
Name: hotel_country, dtype: int64

In [61]:
# В reviewer_nationality лишние пробелы
# и эта функция убирает их
def ws_cutter(string):
    string = string[1:-1]
    return(string)

hotels['reviewer_nationality'] =\
    hotels['reviewer_nationality'].apply(ws_cutter)

**Получаем признак is_homeland – сравнение национальности и страны отеля**

In [71]:
hotels['is_homeland'] = (hotels['hotel_country']==hotels['reviewer_nationality'])
comp_pd = pd.DataFrame()
comp_pd['nat'], comp_pd['htl'], comp_pd['=='] =\
    hotels['reviewer_nationality'], hotels['hotel_country'], hotels['is_homeland']
display(hotels[['hotel_country', 'reviewer_nationality', 'is_homeland']].head(3))

    hotel_country reviewer_nationality  is_homeland
0  United Kingdom       United Kingdom         True
1  United Kingdom       United Kingdom         True
2          France                China        False

In [63]:
print(hotels['hotel_country'].describe(),hotels['reviewer_nationality'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 386803 entries, 0 to 386802
Series name: reviewer_nationality
Non-Null Count   Dtype
--------------   -----
386803 non-null  object
dtypes: object(1)
memory usage: 3.0+ MB
count             386803
unique                 6
top       United Kingdom
freq              196774
Name: hotel_country, dtype: object None

In [65]:
print(hotels['hotel_country'].astype('category').describe())

count             386803
unique                 6
top       United Kingdom
freq              196774
Name: hotel_country, dtype: object

In [66]:
counter = 0

hotel_country_preserved_mapper = dict()

for i in sorted(set(hotels['hotel_country'])):
    hotel_country_preserved_mapper.update({i:counter})
    counter += 1

print(hotel_country_preserved_mapper)

{'Austria': 0, 'France': 1, 'Italy': 2, 'Netherlands': 3, 'Spain': 4, 'United Kingdom': 5}

In [72]:
hotels['days_since_review'] = ((pd.to_datetime('2017-08-04')\
    -pd.to_datetime(hotels['review_date']))/ np.timedelta64(1, 'D'))
print(hotels['days_since_review'][0])

532.0

In [73]:
def rev_func(num_tags):
    num_tags = num_tags[2:-2]
    res = num_tags.strip().split(' \', \' ')
    return res

hotels['tags_n'] = hotels['tags'].apply(rev_func)
enum = hotels.explode('tags_n')

res = enum['tags_n'].value_counts()
print(res)

Leisure trip                         313593
Submitted from a mobile device       230778
Couple                               189212
Stayed 1 night                       145373
Stayed 2 nights                      100263
                                      ...
Studio with Spa Access                    1
Comfort Family Room                       1
Junior Suite Free Wifi                    1
Design Suite                              1
Executive Double Room Non Smoking         1
Name: tags_n, Length: 2368, dtype: int64

In [74]:
pop_tags = enum['tags_n'].value_counts().nlargest(50).index
print(pop_tags)

Index(['Leisure trip', 'Submitted from a mobile device', 'Couple',
       'Stayed 1 night', 'Stayed 2 nights', 'Solo traveler', 'Stayed 3 nights',
       'Business trip', 'Group', 'Family with young children',
       'Stayed 4 nights', 'Double Room', 'Standard Double Room',
       'Superior Double Room', 'Family with older children',
       'Deluxe Double Room', 'Double or Twin Room', 'Stayed 5 nights',
       'Standard Double or Twin Room', 'Classic Double Room',
       'Superior Double or Twin Room', '2 rooms', 'Stayed 6 nights',
       'Standard Twin Room', 'Single Room', 'Twin Room', 'Stayed 7 nights',
       'Executive Double Room', 'Classic Double or Twin Room',
       'Superior Twin Room', 'Club Double Room', 'Deluxe Double or Twin Room',
       'Queen Room', 'Deluxe King Room', 'Superior Queen Room',
       'Standard Single Room', 'Junior Suite', 'Triple Room', 'Classic Room',
       'Superior Room', 'Superior King Room', 'Standard Room', 'Deluxe Room',
       'Double Guest Room', 'Standard Queen Room', 'Deluxe Single Room',
       'Small Double Room', 'Queen Guest Room', 'Deluxe Twin Room',
       'King Room'],
      dtype='object')

In [95]:
print(enum['tags_n'][0:1])
len(enum['tags_n'][0:1])

0    Leisure trip
Name: tags_n, dtype: object

1

In [92]:
for i in enum['tags_n']:
    for k in len(i):
        print(i[k])
        k = k.lower()

TypeError: 'int' object is not iterable

In [90]:
display(set(enum['tags_n']))

{'Standard Double',
 'Deluxe Double or Twin Room with Mountain View',
 'Double or Twin Room with Extra Bed 3 Adults with Free Airport Shuttle Service from 5 00am to 00 30am',
 'Stayed 18 nights',
 'Luxury Triple Room',
 'Junior Family Suite 2 Adults',
 'Suite without Window',
 'Luxury Suite',
 'Standard Double or Twin Room Annex Building',
 'Deluxe One Bedroom Suite with River View',
 'Junior Suite with Terrace',
 'Junior Suite with Lounge Access and City View',
 'Superior Double or Twin Room with Extra Bed 3 Adults',
 'Superior Premium Queen Room with Sofa Bed',
 'Double Room Capricieuse',
 'Family Apartment 4 Adults with Spa access',
 'Deluxe Room with Two Double Beds',
 'Deluxe King Room with Terrace',
 'Deluxe',
 'superior Double or Twin Room with extra bed',
 'Small Double Room with Extra Bed Annex building',
 'Standard Room with queen size bed and double sofa bed',
 'Superior Suite 3 Adults',
 'Privilege Room with 1 Double Bed',
 'City King or Twin Room',
 'Superior King Room with Balcony',
 'Queen Room Mobility Access',
 'Family Room with King Bed',
 'Family Room 2 Adults 1 Child',
 'The Duplex',
 'Classic Double Room Loge Classique',
 'Queen Guestroom',
 'Classic Room with Courtyard View',
 'Premium Double or Twin Room',
 'Interior Double or Twin Room',
 'King Guest Room',
 'Double or Twin Room 1 or 2 adults',
 'Deluxe Room 2 Adults',
 'Executive Queen Suite',
 'Stayed 22 nights',
 'Triple Room with Park View',
 'Deluxe Quadruple Room with Canal View',
 'Queen Suite with Balcony and City View',
 'Level Room with Executive Lounge Access',
 'Single Room Non Smoking',
 '3 rooms',
 'Superior Triple Room with 3 Single Beds',
 'Marvelous Suite Exchange',
 'Belgravia Suite',
 'Deluxe King Room Disability Access',
 'Large Suite',
 'Suite Family and Friends',
 'Junior Suite Double 1 2 Adults',
 'Deluxe Twin Room Souterrain Basement',
 'La Petite Maison',
 'City Suite',
 'Superior Twin Room with Eiffel Tower View',
 'Junior Suite Premium with Spa Access',
 'Standard Room with Queen Bed and Sofa Bed',
 'Superior Double Room with Saint Germain des Pr s Church View',
 'Deluxe Twin or Double Room',
 'Apartment',
 'Executive Deluxe King Room',
 'Luxury Twin Room',
 'Romantic Offer Double Room',
 'Economy Single Room basement no window',
 'Cozy Double or Twin Room',
 'Grand Superior King or Twin Room',
 'Cool Corner Room',
 'Premium Double or Twin Room with Garden View',
 'Large Double Room with Champs Elysees View',
 'Classic Double or Twin Room',
 'Double or Twin Room with Pool View',
 'Tiny Single Room',
 'Suite 2 Adults',
 'Double Deluxe Plus Room',
 'Prestige Family Room',
 'Triple Room 2 Adults 1 Child',
 'Executive Apartment',
 'City Room',
 'Superior Queen Suite with Sofa Bed 3 Adults',
 'Suite VIP welcome',
 'Double Hilton Deluxe Room',
 'Superior Room with Double Bed',
 'King Executive Room',
 'Double or Twin Room with Bath',
 'Stayed 23 nights',
 'Twin Guest Room',
 'Superior Queen Room with Extra Bed 3 Adults',
 'Queen Room Disability Access Non Smoking',
 'Two Adjacent Double Room',
 'Royal Mews View King Room',
 'Studio Suite',
 'penta Plus Room',
 'Premium Double or Twin Room with View and Terrace',
 'Large Room',
 'Cosmopolitan Suite',
 'Business trip',
 'Large Twin Room',
 'Standard Double Studio',
 'Executive Queen Room Non Smoking',
 'Grande Suite',
 '2 Adjacent Non Communicating Rooms',
 'Superior Queen Room with Sofa Bed Non Smoking',
 'One Bedroom River View Suite',
 'Double Room Courtyard',
 'Mega Room',
 'Superior Double Room with Balcony',
 'Standard Room with queen size bed and double sofa bed 3 Adults',
 'Executive Queen Room 2 adults',
 'Deluxe Room Henry Monnier',
 'Superior Room with 1 Double Bed and 1 Single Bed',
 'Two Adjoining Rooms',
 'Executive Triple Room 2 Adults 1 Child',
 'Junior Suite 4 Adults',
 'Superior Room with Garden View Free Wifi',
 'Treat your Partner Package Double Room',
 'Ambassadors Room',
 'Large Comfort Double or Twin Room',
 'Privilege Suite',
 'Stayed 9 nights',
 'Park King',
 'Family Room 4 guest',
 'Superior Double or Twin Room XL with View',
 'Executive Room with Queen Bed',
 'Twin Hilton Room Plus',
 'Four Seasons Twin Junior Suite',
 'Junior Suite Double',
 'Superior Room with canal view',
 'Superior One Bedroom Suite with Executive Lounge Access',
 'Standard Double or Twin Room 3 Adults',
 'Classic Twin Room with View',
 'Deluxe Club Double Room',
 'Single Room Annex',
 'Executive Deluxe',
 'Triple Room with City View',
 'Executive Room with City View',
 'La Mathurin Suite',
 'Superior Room with 1 Queen Bed 1 Sofa Bed',
 'Junior Suite 2 Adults',
 'Junior Suite with Hydromassage Shower',
 'Executive Double Room with Executive Lounge Access',
 'Garden View King',
 'Suite with Spa Access 1 Adult',
 'Family Executive Room 2 Adults 2 Children',
 'Business Double Room with 500 Frequent Flyer Miles',
 'Premium Twin Room',
 'Superior Premium Room with Queen Bed and Sofa Bed',
 'Double Room 1 Adult with Free Airport Shuttle Service from 5 00am to 00 30am',
 'Executive Room Selected at Check In',
 'Economy Twin Room',
 'Small Double Room with Terrace',
 'Tradition Twin Room',
 'Loft Double Room with Terrace',
 'Executive Twin Room with City View',
 'Kings Deluxe Junior Suite',
 'Vend me Deluxe Room',
 'Two Connecting Executive Rooms',
 'Standard Double Room with Bridge View',
 'Park Deluxe Twin',
 'Standard King Room',
 'One Bedroom City Suite',
 'Two Adjacent Double or Twin Rooms',
 'One Bedroom Apsley Suite',
 'Executive Double',
 'Two Adjoining Rooms with Dock View Main Deck',
 'Junior Triple Room',
 'Double or Twin Room with Extra Bed 2 Adults 1 Child',
 'Family Two Bedroom Suite',
 'Superior King Room Barlow Wing',
 'Special Offer Double or Twin Room with Parking',
 'Corner Twin Room',
 'Bunk Bed Room',
 'Superior Plus Twin Room',
 'Suite Room 1 or 2 people',
 'Single Room Tea Time Wine Tasting Included',
 'Double Queen Waterfront',
 'Executive Double Room with Sofa Bed',
 'Park Suite',
 'Accessible Queen Guest Room',
 'Superior Double or Twin Room with Balcony 1 Adult',
 'Deluxe Family Room 4 Adults',
 'Emperor Suite',
 'Quality Single Room',
 'Double Room GWR Tower',
 'Junior Suite with Double Bed',
 'Park Deluxe King or Twin',
 'Executive Room City View',
 'King Room Mobility Accessible Non Smoking',
 'Classic Double Room with free pool and hammam access',
 'Club Double Room with free Internet and Breakfast',
 'Penthouse Suite with View',
 'Double Room L',
 'Champs Elys es Prestige Junior Suite',
 'Duplex',
 'Observatory King',
 'One Bedroom King Suite with Sofa Bed',
 'Superior Room with City View',
 'Twin Executive Room',
 'Large Deluxe Room',
 'Premium Double Twin Room',
 'Junior King Suite with View 3 Adults',
 'Executive King Room with Air Conditioning',
 'Signature Room',
 'Comfort Room with Extra Bed',
 'Premium View Double Room',
 'Luxury Suite Triple',
 'Double or Twin Room with Parking',
 'Nadler Deluxe Double Room',
 'Premium King Room',
 'Deluxe Family Room with 1 Double and 2 Single Beds',
 'Double Executive Room with Lounge Access',
 'Suite with Duomo View',
 'Standard Single Room',
 'Two Connected Double Rooms',
 'Twin Room with Extra Bed 3 Adults',
 'Queen Room with Sofa Bed',
 'Superior Double Room Plus L Insolente',
 'Classic Double or Twin Room with extra bed',
 'Executive Suite with View',
 'King Size Double Room',
 'The Level Executive Service Room',
 'Standard Twin Room with Bridge View',
 'Suite with Executive Lounge Access',
 'Basic Double or Twin Room with Parking',
 'King Executive Waterfront with Access to Executive Lounge',
 'Family Room Annex',
 'Apartment Suite',
 'Junior Suite With Free Access to Steam Bath',
 'Executive Room with Canal View',
 'Loft Junior Suite',
 'Double Room for Single Use',
 'Double Room 2 Adults 1 Child',
 'Family Room',
 'Deluxe Guest room 1 King or 2 Twin Single Bed s',
 'Business Double or Twin Room Facing the Sea',
 'Economy Single Room',
 'Superior Double Room with Sofa Bed 3 Adults',
 'King Suite',
 'Club Junior Suite',
 'Deluxe Double or Twin Room with Sea View',
 'One Double Suite NonSmoking',
 'Ground Floor Queen Room Disability Access',
 'King Room Disability Access Non Smoking',
 'penta PlayerPad Suite',
 'Comfort Single Room with Window and Double Bed',
 'Privilege Junior Suite with Terrace and Spa Access',
 'Double Room with Eiffel Tower View',
 'Executive King Room Non Smoking with Executive Lounge Access',
 'Park Executive Suite',
 'Curve Suite with Lounge Access',
 'Double or Twin Room Non Smoking',
 'Grand Executive Room',
 'Standard room with 1 queen bed and sofa',
 'Standard Room 1 2 adults',
 'Deluxe Twin Room 2 Adults',
 'Standard Room with Queen Bed and Sofa',
 'Kube Double or Twin Room',
 'Connecting Double Rooms',
 'Double or Twin Room 1 2 Adults',
 'Duplex Suite with State Opera View Top Floor',
 'Standard Room with Queen Bed',
 'Junior Suite 3 Adults or 2 Adults 1 Child',
 'Hilton Deluxe Twin Room Plus',
 'Classic Double Room with Shower',
 'Premier King Room',
 'Duplex Suite with Spa Access',
 'Magistrate King',
 'Classic Room Breakfast Included',
 'Junior Suite with Private Pool',
 'Classic Queen Room',
 'Executive Suite with Queen Bed and Sofa Bed 2 Adults',
 'King Room with Pool View',
 'Superior Single Room',
 'Double Room with Spa Bath',
 'Family Room Free Wi Fi',
 '3 Connecting Rooms',
 'Deluxe Studio',
 'Deluxe One Bedroom Apartment',
 'Double without credit card',
 'View Queen',
 'Imperial Suite',
 'Standard Family Room',
 'Junior Conservatory with King Bed',
 'Urban Triple Room',
 'Classic Double Room La Parisienne',
 'Club Double or Twin Room with Executive Lounge Access',
 'King Suite Non Smoking',
 'Double Room Duchesse',
 'Diamond Suite Spa',
 'Discovery Double Room',
 'Room with Ramblas View',
 'Family room Free Wi Fi',
 'Superior King Suite',
 'Executive Business Room with Double Bed',
 'Premium Double or Twin Room XL',
 'Spring Package Deluxe Double or Twin Room',
 'Deluxe Double Room with Patio',
 'Single Studio',
 'Double Room with Four Poster Bed',
 'Quadruple Room',
 'Standard Guestroom',
 'REN Room Free Wifi',
 'Family Room Sleeps Four',
 'Queen Room with Executive Lounge Access',
 'Superior Metropolitan Park Double Room',
 'Two Bedroom Superior Suite',
 'Executive Suite 1 King',
 'Deluxe Two Bedroom Suite',
 'Penthouse',
 'Comfort Double Room With Sacr Coeur View',
 'One Bedroom Suite with Park View',
 'Standard Duplex Room 1 2 Adults',
 'Standard Room with 1 Single Bed',
 'Superior Queen Room with Double Sofa',
 'Luxury Double Room Medium',
 'Falconers One Bedroom Suite',
 'King Deluxe Guest Room',
 'One Bedroom Classic Suite',
 'Double Room Moulin Rouge with Shower',
 'Twin Hilton Deluxe',
 'Two Bedroom Family Room',
 'Standard Family Suite with Two Connecting Rooms 4 Adults',
 'Grand Deluxe Double Room',
 'Large Garden View King',
 'Double Room Radieuse',
 'King Cathedral View Room',
 'Suite with Balcony and Spa Access',
 'Single Room with Shower',
 'Chelsea Double Suite',
 'Suite Trocadero Balcony with Eiffel Tower View',
 'Junior king Suite 3 Adults',
 'Luxury Suite with whirlpool',
 'Standard Twin Room with Sofa',
 'Family Premium Room 2 Adults 2 Children',
 'Falconers Two Bedroom Suite',
 'Plaza Club Room',
 'Economy Double Room',
 'Superior Twin or Double Room',
 'Executive Studio Apartment 2 Adults 1 child',
 'Executive Studio',
 'Superior Double Room 1 2 Adults',
 'Superior Double Room Loge Sup rieure',
 'Classic Junior Suite',
 'Superior Quadruple Room',
 'Junior Double Suite',
 'Deluxe Double or Twin Room with Balcony',
 'Deluxe Triple Room',
 'Deluxe Double Room with View and Disability Access',
 'Canal View Superior Deluxe Room with Spa Bath',
 'Privilege Room With View',
 'Family Suite with two connecting rooms',
 'King Room with River View',
 'Interconnecting Double Rooms',
 'Deluxe Double Room with View',
 'Prestige Triple Room',
 'Family Room 3 Adults',
 'Deluxe King Room with City View',
 'Premier Twin Room with City View',
 'Triple Room Free Wi Fi',
 'Deluxe Twin Room Balcony with Eiffel Tower View',
 'Collection Suite',
 'Twin Deluxe with Canal View',
 'Suite Family Room',
 'Classic Single Room with Spa Access',
 'Superior Twin Room with Courtyard Garden or City View',
 'Luxury Double Room Small',
 'Superior Double Room New Style',
 'Premier Deluxe Twin Room',
 'Superior Double Room with City View',
 'Deluxe King Suite',
 'Delegate Deluxe Double Room',
 'Standard Double or Twin with view',
 'Superior Duplex Room',
 'Superior Family Room 2 Adults 1 Child',
 'Standard Double Room with Terrace',
 'One Bed Feature Room',
 'One Bedroom Suite with Courtyard View',
 'Wonderful Exchange King',
 'Junior Suite Attic',
 'Executive Double Room with Turkish Bath',
 'Hilton Deluxe King Room',
 'King Guest Room Wheelchair Accessible',
 'Double or Twin Room with Sea View',
 'Business Double Room Ground Floor',
 'Suite with View',
 'Premium Double Room',
 'Double Studio',
 'Twin Hilton Deluxe Room',
 'Double Room Attic',
 'Standard Double Room with Two Double Beds',
 'Family Room 2 Adults 2 Children',
 'Club Level Classic Rooms',
 'Classic Twin Room',
 'Camper Suite',
 'Queensgate Double Room',
 'Junior Suite Basement',
 'Universitat Single Room',
 'Deluxe Double Studio',
 'Studio Deluxe Suite',
 'Double Hilton Deluxe',
 'Deluxe Room Barlow Wing',
 'Club King Room',
 'Deluxe Accessible Twin Room with View',
 'Grand Superior Room',
 'Eiffel Suite',
 '2 Connecting Deluxe Rooms with VIP Service for Kids',
 'Deluxe Triple Room with Spa Access',
 'Accessible Twin Room',
 'Standard Double Room Single Use',
 'Superior Double or Twin Room',
 'Executive Twin Room with Access to Executive Lounge',
 'Two Connecting Double Rooms',
 'Fabulous Bank King',
 'Deluxe Room with Whirlpool',
 'Superior Room with Balcony or Terrace',
 'Superior Apartment 4 Adults',
 'Double Room 1 Adult',
 'Superior Double Room with Two Double Beds',
 'Two Connecting Rooms',
 'Premium Double Room with Garden View',
 'Superior Double Room Single use',
 'Superior Suite with View',
 'Kings Three Bedroom Suite',
 'Penthouse Plaza Suite with Access to Executive Lounge',
 'King Studio',
 'Classic Double Single Use',
 'Double Room with Garden View',
 'Double or Twin Room with Panoramic View',
 'Executive Double or Twin Room with Club Lounge Access',
 'Superior Twin Room with Internal View',
 'Duke of Monmouth Suite',
 'Deluxe Twin Room with Eiffel Tower View',
 'One Bedroom Park Suite',
 'Special Offer Twin Double Room Stay and Park',
 'penta Standard Room',
 'One Bedroom Suite with Sofa Bed',
 'King Hilton Deluxe Room',
 'Large Double Room with Garden View',
 'King Room Non Smoking',
 'Standard Double or Twin Room with Balcony',
 'New Amsterdam Suite',
 'Superior Double or Twin Room with Balcony',
 'Duplex Twin Room',
 'Deluxe Double Room with Terrace and Private Pool',
 'Double Accessible Guest Room',
 'Superior Family Room',
 'Standard Compact Double Room',
 'La Rouge Suite',
 'Nhow Premium Double or Twin Room',
 'Deluxe Boulevard Double Room',
 'Junior Suite Canal View',
 'Suite Split Level',
 'Superior Room with Queen Bed and Sofa',
 'Room with Dock View Main Deck',
 'Superior Premium Queen Room',
 'Canal View Deluxe Triple Room with Spa Bath Annex building',
 'Twin Executive Room with Lounge Access',
 'Superior room Design Style Free Wifi',
 'Superior Double Room with Spa Access',
 'Suite with Hot Tub',
 'King Hilton Guestroom',
 'Luxury Room 3 Adults with canal view',
 'Junior King Suite with Lounge Access',
 'Penthouse King Executive Room with Access to Executive Lounge',
 'Duplex Family Suite with Spa Bath',
 'One Bedroom Suite with Kitchenette',
 'Special Offer Classic Double Room',
 'Twin Room with City View 1 2 Adults',
 'Deluxe Room With Pool Access',
 'Ambassador Suite',
 'Three Bedroom Suite',
 'Premium Lafayette',
 'Small Double Room',
 'Triple Executive Room',
 'Studio',
 'Petite Double Room',
 'One Bedroom Suite with City View',
 'Secret Room with Spa Access',
 'Family Room 2 Adults 1 Children',
 'Room with River View Upper Deck',
 'King Premier Room',
 'Double Room Marquise',
 'Superior Double Room with Sea View',
 'One Bedroom King Suite',
 'King Double or Twin Room',
 'Special Offer Standard Double or Twin Room',
 'Deluxe Double Room with Gallery View',
 'King Room Second Floor',
 'King Grand Deluxe Room',
 'Room with Park View',
 'Executive King or Twin Room with Lounge Access and Park View',
 'Prestige Double Room',
 'Twin Room with Courtyard View',
 'Special Offer Double Room',
 'Deluxe Double Room with City View and Balcony',
 'Privilege Room with a double bed upper floors',
 'Comfort Family Room',
 'Deluxe King with Balcony',
 'Superior Queen Room with Paris View',
 'Basic Twin Room',
 'Luxury King Room 3 Adults',
 'Double Room Curieuse',
 'Junior Suite with Park View',
 'Stayed 17 nights',
 'Apartment for 3 to 4 People with Kitchenette',
 'Deluxe room with 1 queen bed',
 'Classic King View',
 'Deluxe Double plus Single Bed',
 'Double Junior Suite',
 'Wonderful Room',
 'King Superior Room',
 'Classic Double Room 1 Adult',
 'Suite Avenue',
 'Camper Room',
 'Junior Suite with Spa Access 3 Adults',
 'Deluxe Double Room 1 2 adults',
 'Deluxe Double Room with Courtyard View',
 'Superior Double Room with free pool and hammam access',
 'Double or Twin Room',
 'Royal Suite Split Level with Spa Bath Annex building',
 'Single Room with Garden View',
 'Quality Double or Twin Room with Extra Bed',
 'Deluxe Room with 1 Double Bed',
 'Superior Twin Double Room',
 'Studio 2 Adults',
 'Suite with free pool and hammam access',
 'Double Room with Sauna Access',
 'City Garden Room',
 'Stayed 16 nights',
 'Queen One Bedroom Suite',
 'Superior Double or Twin Room XL',
 'Deluxe Suite with Executive Lounge Access',
 'Comfort Double Room with Park View',
 'Double or Twin Room with Extra Bed with Balcony',
 'Classic Room with Garden View',
 'Superior Double Room with Free Access to Hamman',
 'Executive Double Room Single Use',
 'Superior Twin Room with Pool Access',
 'Executive Room with Terrace',
 'King Deluxe Room with Canal View',
 'Small Single Room',
 'Studio Twin Room 3 adults',
 'Superior King',
 'Queen Junior Suite',
 'Classic Adjacent Rooms',
 'Andaz Double Room',
 'Family Room with King Bed and Sofa Bed',
 'Executive Double Room Top Floor',
 'Junior Suite 3 Adults with Spa Access',
 'Executive Room 2 adults 2 children',
 '2 Connecting Rooms 5 Adults',
 'Deluxe Twin Room with View',
 'Double Room Rouge Epic e',
 'Suite King',
 'Club Double or Twin Room with Club Lounge Access',
 'Superior Room',
 'Executive Club Twin Room',
 'Deluxe Double or Twin Room Disability Access',
 'Superior Room with 1 Double bed and Sofa 3 adults',
 'Executive Suite',
 '4 Person Suite',
 'Wonderful Bank with Canal View',
 'Classic King Twin Room',
 'Stayed 30 nights',
 'Smart Triple Room',
 'Executive Double Room with Square View',
 'Townhouse Club',
 'Executive Queen Room With Sofa Bed',
 'Comfort Plus Twin Room',
 'City Apartment',
 'Superior Suite with City View',
 'Grand Premier Family Room',
 'Executive Double or Twin Room with Private Terrace',
 'Business Single Room with Courtyard View',
 'Club Room with Club Lounge Access Free Wifi',
 'Double Guest Room with River View',
 'Superior Room with 1 Queen Bed and Sofa',
 'Deluxe Double Room with City View',
 'Privilege Double Room 2 Adults 1 child',
 'Wonderful Double or Twin Room',
 'Deluxe King Room with Stadium View',
 'Superior Suite 4 Adults',
 'Queen Room with Two Queen Beds 4 Adults',
 'Luxury Suite Patio',
 'Superior Double or Twin Room with View',
 'Fabulous Double or Twin Room',
 'One Bedroom King Suite 2 Adults',
 'Premier Double Room with Panoramic View and Executive Lounge Access',
 'King Room Mobility Accessible',
 'Deluxe Triple Room with View',
 'Double Room with St Stephen s Cathedral View',
 'Suite with Garden View and Parking',
 'Deluxe Eiffel Tower King Room',
 'Privilege Room with Hammam',
 'Deluxe King or Queen Room',
 'Superior King with Balcony',
 'Urban Deluxe',
 'Penthouse Suite Family',
 'Deluxe Guest Room',

In [75]:
hotels['nights'] = 1
night_counter = pd.Series().astype(int)
counter = 0

for tags_listed in hotels['tags_n']:
    for i in tags_listed:
        if i[0:6] == 'Stayed':
            hotels['nights'][counter] = i[7:8]
    counter += 1

C:\Users\admin\AppData\Local\Temp\ipykernel_752\1746632765.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  night_counter = pd.Series().astype(int)
C:\Users\admin\AppData\Local\Temp\ipykernel_752\1746632765.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotels['nights'][counter] = i[7:8]

In [76]:
hotels['nights'].value_counts()

1    147116
2    100348
3     72010
4     35748
5     15611
6      7399
7      5549
8      1910
9       966
1       146
Name: nights, dtype: int64

In [189]:
#hotels['tags_filtered'] = enum['tags_n'].apply(lambda x: x if x in pop_tags else 'other')
#display(hotels['tags_filtered'])

In [ ]:
room_status = []

hotels['nights'] = 1
night_counter = pd.Series().astype(int)
counter = 0

for tags_listed in hotels['tags_n']:
    for i in tags_listed:
        if i[0:6] == 'Stayed':
            hotels['nights'][counter] = i[7:8]
    counter += 1

In [190]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 22 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  category
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  category
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  float64
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
 17  review_words_proportion                     386709 non-null  float64
 18  hotel_country                               386803 non-null  object
 19  is_homeland                                 386803 non-null  bool
 20  tags_n                                      386803 non-null  object
 21  nights                                      386803 non-null  object
dtypes: bool(1), category(2), float64(4), int64(5), object(10)
memory usage: 57.2+ MB

In [191]:
hotels.drop(['review_total_negative_word_counts','review_total_positive_word_counts','lat','lng', 'days_since_review', 'review_date', 'additional_number_of_scoring'], axis=1, inplace=True)
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)
X = hotels.drop(['reviewer_score'], axis = 1)  
Y = hotels['reviewer_score']

In [204]:

hotels['review_words_proportion'] = hotels['review_words_proportion'].fillna(0)
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 15 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   average_score                               386803 non-null  category
 2   hotel_name                                  386803 non-null  object
 3   reviewer_nationality                        386803 non-null  object
 4   negative_review                             386803 non-null  object
 5   total_number_of_reviews                     386803 non-null  int64
 6   positive_review                             386803 non-null  object
 7   total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 8   reviewer_score                              386803 non-null  category
 9   tags                                        386803 non-null  object
 10  review_words_proportion                     386803 non-null  float64
 11  hotel_country                               386803 non-null  object
 12  is_homeland                                 386803 non-null  bool
 13  tags_n                                      386803 non-null  object
 14  nights                                      386803 non-null  object
dtypes: bool(1), category(2), float64(1), int64(2), object(9)
memory usage: 36.5+ MB

In [205]:
num_cols = ['total_numbers_of_reviews', 'review_total_negative_word_count','additional_number_of_scoring']

cat_cols = ['average_score']

In [206]:
Y = Y.astype('int')


from sklearn.feature_selection import chi2 # хи-квадрат

#imp_cat = pd.Series(chi2(X[cat_cols], Y)[0], index=cat_cols)
#imp_cat.sort_values(inplace = True)
#imp_cat.plot(kind = 'barh')

In [207]:
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split

In [208]:
object_columns = [s for s in X.columns if X[s].dtypes == 'object']
print(object_columns)
X.drop(object_columns, axis = 1, inplace=True)
#X.drop('review_date',axis=1, inplace=True)

[]

In [209]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [210]:
X_train.head(5)

,average_score,total_number_of_reviews,total_number_of_reviews_reviewer_has_given,review_words_proportion,is_homeland
22852,8.2,4645,13,56.122449,False
67350,6.9,1884,1,60.000000,True
95937,8.6,3486,1,50.000000,False
352230,8.7,3181,4,41.666667,False
73517,9.2,786,2,0.000000,False

In [211]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290102 entries, 22852 to 121958
Data columns (total 5 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   average_score                               290102 non-null  category
 1   total_number_of_reviews                     290102 non-null  int64
 2   total_number_of_reviews_reviewer_has_given  290102 non-null  int64
 3   review_words_proportion                     290039 non-null  float64
 4   is_homeland                                 290102 non-null  bool
dtypes: bool(1), category(1), float64(1), int64(2)
memory usage: 9.4 MB

In [212]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
  
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.16664873442312667

Небольшой бонус:

In [ ]:
# # убираем признаки которые еще не успели обработать, 
# # модель на признаках с dtypes "object" обучаться не будет, просто выберим их и удалим
# object_columns = [s for s in hotels.columns if hotels[s].dtypes == 'object']
# hotels.drop(object_columns, axis = 1, inplace=True)

# # заполняем пропуски самым простым способом
# hotels = hotels.fillna(0)