In [4]:
import pandas as pd

hotels = pd.read_csv('data/hotels.csv')
hotels.head(1)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671

In [5]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB