In [339]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [340]:
hotels = pd.read_csv('data/hotels.csv')
print(hotels['tags'][1])

[' Business trip ', ' Couple ', ' Standard Double Room ', ' Stayed 1 night ']

In [341]:
hotels['review_words_proportion'] =\
    hotels['review_total_positive_word_counts']\
        /((hotels['review_total_positive_word_counts']\
            +hotels['review_total_negative_word_counts'])/100)
hotels['review_words_proportion'].fillna(0)

0          57.142857
1          40.000000
2           0.000000
3         100.000000
4          83.333333
             ...
386798    100.000000
386799    100.000000
386800     42.857143
386801    100.000000
386802     50.000000
Name: review_words_proportion, Length: 386803, dtype: float64

In [342]:
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in hotels.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, hotels[col].nunique()) 
    # добавляем кортеж в список
    unique_list.append(item)
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

                                   Column_Name  Num_Unique
0                                average_score          34
1                               reviewer_score          37
2   total_number_of_reviews_reviewer_has_given         194
3                         reviewer_nationality         225
4            review_total_positive_word_counts         354
5            review_total_negative_word_counts         402
6                 additional_number_of_scoring         480
7                                  review_date         731
8                            days_since_review         731
9                      total_number_of_reviews        1142
10                                         lat        1472
11                                         lng        1472
12                                  hotel_name        1492
13                               hotel_address        1493
14                     review_words_proportion       10080
15                                        tags       47135
16                             negative_review      248828
17                             positive_review      311737

In [343]:
hotels = hotels.fillna(0)

Превращаем **average_score** в категорию.

In [344]:
counter = 0

average_score_preserved_mapper = dict()

for i in sorted(set(hotels['average_score'])):
    average_score_preserved_mapper.update({i:counter})
    counter += 1

print(average_score_preserved_mapper)

{5.2: 0, 6.4: 1, 6.6: 2, 6.7: 3, 6.8: 4, 6.9: 5, 7.0: 6, 7.1: 7, 7.2: 8, 7.3: 9, 7.4: 10, 7.5: 11, 7.6: 12, 7.7: 13, 7.8: 14, 7.9: 15, 8.0: 16, 8.1: 17, 8.2: 18, 8.3: 19, 8.4: 20, 8.5: 21, 8.6: 22, 8.7: 23, 8.8: 24, 8.9: 25, 9.0: 26, 9.1: 27, 9.2: 28, 9.3: 29, 9.4: 30, 9.5: 31, 9.6: 32, 9.8: 33}

In [345]:
hotels['average_score'] = hotels['average_score'].replace(average_score_preserved_mapper)
hotels['average_score'] = hotels['average_score'].astype(int)

In [346]:
#print(hotels['average_score'])
#hotels['average_score'] = hotels['average_score'].astype('category')

In [347]:
#max_unique_count = 50 # задаём максимальное число уникальных категорий
#for col in hotels.columns: # цикл по именам столбцов
#    if hotels[col].nunique() < max_unique_count: # проверяем условие
#        hotels[col] = hotels[col].astype('category') # преобразуем тип столбца
#display(hotels.info())

**Создаём признак hotel_country: страна, где находится отель**

In [348]:
countrified = pd.DataFrame()

def countrifier(string):
    cut = string.split()

    country = cut[-1:]

    country = country[0]

    if country == 'Kingdom':
        country = 'United Kingdom'
    return country

hotels['hotel_country'] = hotels['hotel_address'].apply(countrifier)

display(hotels['hotel_country'].value_counts())

United Kingdom    196774
Spain              45132
France             44830
Netherlands        43006
Austria            29178
Italy              27883
Name: hotel_country, dtype: int64

In [349]:
# В reviewer_nationality лишние пробелы
# и эта функция убирает их
def ws_cutter(string):
    string = string[1:-1]
    return(string)

hotels['reviewer_nationality'] =\
    hotels['reviewer_nationality'].apply(ws_cutter)

**Получаем признак is_homeland – сравнение национальности и страны отеля**

In [350]:
hotels['is_homeland'] = (hotels['hotel_country']==hotels['reviewer_nationality'])
comp_pd = pd.DataFrame()
comp_pd['nat'], comp_pd['htl'], comp_pd['=='] =\
    hotels['reviewer_nationality'], hotels['hotel_country'], hotels['is_homeland']
display(hotels[['hotel_country', 'reviewer_nationality', 'is_homeland']].head(3))

    hotel_country reviewer_nationality  is_homeland
0  United Kingdom       United Kingdom         True
1  United Kingdom       United Kingdom         True
2          France                China        False

In [351]:
print(hotels['hotel_country'].describe(),hotels['reviewer_nationality'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 386803 entries, 0 to 386802
Series name: reviewer_nationality
Non-Null Count   Dtype
--------------   -----
386803 non-null  object
dtypes: object(1)
memory usage: 3.0+ MB
count             386803
unique                 6
top       United Kingdom
freq              196774
Name: hotel_country, dtype: object None

In [353]:
counter = 0

average_score_preserved_mapper = dict()

for i in sorted(set(hotels['hotel_country'])):
    average_score_preserved_mapper.update({i:counter})
    counter += 1

print(average_score_preserved_mapper)

{'Austria': 0, 'France': 1, 'Italy': 2, 'Netherlands': 3, 'Spain': 4, 'United Kingdom': 5}

In [352]:
hotels['hotel_country'] = hotels['hotel_country'].astype('category')
hotels['hotel_country'].describe()

count             386803
unique                 6
top       United Kingdom
freq              196774
Name: hotel_country, dtype: object

In [354]:
counter = 0

hotel_country_preserved_mapper = dict()

for i in sorted(set(hotels['hotel_country'])):
    hotel_country_preserved_mapper.update({i:counter})
    counter += 1

print(hotel_country_preserved_mapper)

{'Austria': 0, 'France': 1, 'Italy': 2, 'Netherlands': 3, 'Spain': 4, 'United Kingdom': 5}

In [355]:
hotels['average_score'] = hotels['average_score'].replace(average_score_preserved_mapper)
hotels['average_score'] = hotels['average_score'].astype(int)

In [316]:
hotels['days_since_review'] = ((pd.to_datetime('2017-08-04')\
    -pd.to_datetime(hotels['review_date']))/ np.timedelta64(1, 'D'))
print(hotels['days_since_review'][0])

532.0

In [317]:
def rev_func(num_tags):
    num_tags = num_tags[2:-2]
    res = num_tags.strip().split(' \', \' ')
    return res

hotels['tags_n'] = hotels['tags'].apply(rev_func)
enum = hotels.explode('tags_n')

res = enum['tags_n'].value_counts()
print(res)

Leisure trip                         313593
Submitted from a mobile device       230778
Couple                               189212
Stayed 1 night                       145373
Stayed 2 nights                      100263
                                      ...
Studio with Spa Access                    1
Comfort Family Room                       1
Junior Suite Free Wifi                    1
Design Suite                              1
Executive Double Room Non Smoking         1
Name: tags_n, Length: 2368, dtype: int64

In [318]:
pop_tags = enum['tags_n'].value_counts().nlargest(50).index
print(pop_tags)

Index(['Leisure trip', 'Submitted from a mobile device', 'Couple',
       'Stayed 1 night', 'Stayed 2 nights', 'Solo traveler', 'Stayed 3 nights',
       'Business trip', 'Group', 'Family with young children',
       'Stayed 4 nights', 'Double Room', 'Standard Double Room',
       'Superior Double Room', 'Family with older children',
       'Deluxe Double Room', 'Double or Twin Room', 'Stayed 5 nights',
       'Standard Double or Twin Room', 'Classic Double Room',
       'Superior Double or Twin Room', '2 rooms', 'Stayed 6 nights',
       'Standard Twin Room', 'Single Room', 'Twin Room', 'Stayed 7 nights',
       'Executive Double Room', 'Classic Double or Twin Room',
       'Superior Twin Room', 'Club Double Room', 'Deluxe Double or Twin Room',
       'Queen Room', 'Deluxe King Room', 'Superior Queen Room',
       'Standard Single Room', 'Junior Suite', 'Triple Room', 'Classic Room',
       'Superior Room', 'Superior King Room', 'Standard Room', 'Deluxe Room',
       'Double Guest Room', 'Standard Queen Room', 'Deluxe Single Room',
       'Small Double Room', 'Queen Guest Room', 'Deluxe Twin Room',
       'King Room'],
      dtype='object')

In [319]:
print(enum['tags_n'][0:1])
len(enum['tags_n'][0:1])

0    Leisure trip
Name: tags_n, dtype: object

1

In [320]:
#for i in enum['tags_n']:
#    for k in len(i):
#        print(i[k])
#        k = k.lower()

In [321]:
display(set(enum['tags_n']))

{'Superior Double or Twin Room with Balcony 1 Adult',
 'Deluxe Queen Guestroom',
 'Travelers with friends',
 'Junior Deluxe Double Room',
 'Executive Triple Room',
 'Ambassadors Room',
 'Classic Twin or Double Room',
 'Comfort Double or Twin Room with Rambla View',
 'Deluxe Room with 1 Double Bed',
 'Wonderful Bank King',
 'Two Adjoining Superior Suite',
 'Double Room Large Heritage',
 'Executive Deluxe Double Room with Spa Access',
 'Premium Double or Twin Room',
 'Deluxe King Room with Garden View',
 'Standard Room with 1 Kingsize Bed',
 'Superior Twin Room with Tea Time Included',
 'Executive King Room Non Smoking with Executive Lounge Access',
 'Executive Vend me Triple Room',
 'Club Room with Club Lounge Access Free Wifi',
 'Park Deluxe Room',
 'Large Triple Room',
 'Sensation Room',
 'Superior Double or Twin Room with Terrace',
 'Club Twin Room',
 'Executive Room Free Executive Lounge Access',
 'Luxury Room Club Sofitel with Spa Access',
 'Premium Double Room with Balcony',
 'Marvellous Suite',
 'Montcalm Club Double Room',
 'Junior Suite with VIP Services',
 'Economy Twin Room',
 'Privilege Room with Hammam',
 'Deluxe King with Balcony',
 'Deluxe Family Room 3 Adults',
 'Standard Studio Suite',
 'Large Comfort Double or Twin Room',
 'Octagon Suite with Lounge Access',
 'Premium Twin Room',
 'Hyatt Queen Room with View',
 'King Deluxe Family Room Connecting Doors',
 'Privilege Double Room',
 'Junior Suite with 1 King Size Bed',
 'Superior Double Double',
 'Superior Twin Room with Two Double Beds',
 'Comfort Double Room Courtyard Side',
 'Twin Room with City View 1 2 Adults',
 'Deluxe King Suite',
 'Eiffel Tower View Twin Room',
 'Small Double Room 1 2 adults',
 'Suite with Garden View',
 'Superior Room with 2 zip beds',
 'Suite 1 3 Adults',
 'Large Canal View Queen',
 'Comfort Room',
 'Executive Club Twin Room',
 'Junior Suite Double 1 2 Adults',
 'King Room Second Floor',
 'Superior Double Room with Balcony and City View',
 'Queen Guest Room with River View',
 'Premium Double or Twin Room XL',
 'Executive with Two Double Beds',
 'Superior King Room with River View',
 'Stayed 26 nights',
 '2 Adjacent Rooms',
 'Economy Plus Double Room',
 'Standard Double Room with Sea View',
 'Executive Studio with London Eye View',
 'Premium Double Room with Garden View',
 'Superior Twin or Double Room',
 'Queen Hilton Deluxe',
 'Double Room with View',
 'Deluxe Double Twin Room',
 'Fabulous Bank King',
 'Suite 2 Adults',
 'Deluxe Double Room with Courtyard View',
 'Double Room Atelier d Artiste with Spa Bath',
 'Executive Double Room with Double Bed and Sofa Bed',
 'One Bedroom Queen Suite',
 'Suite Duplex',
 'Deluxe King Room Disability Access',
 'Basic Double Room NR',
 'Super Deluxe Double Room',
 'Single Room with Sauna Access',
 'Executive Room with Double Bed',
 'Grand Premier Family Room',
 'Premium Suite',
 'Superior Room queen size bed and double sofa bed',
 'Deluxe Double Room with Spa Access',
 'Double or Twin Room 2 Adults',
 'Club Eiffel Tower King Room',
 'Two Connecting Superior Twin Rooms',
 'Studio King 3 adults',
 'Single Room with Free Airport Shuttle Service from 5 00am to 00 30am',
 'Superior King Room Non Smoking',
 'Deluxe Apartment 4 Adults 2 Children',
 'King Cathedral View Room',
 'Deluxe Double Room with City View and Balcony',
 'Junior Suite Avenue',
 'King Junior Suite',
 'Executive Double Room with Executive Lounge Access',
 'Special Offer Double Room',
 'Prestige Family Room',
 'Double Room Courtyard',
 'Suite Oc ane',
 'One Bedroom Park Suite',
 'Superior Room with 1 Queen Bed 1 Sofa Bed',
 'Park Suite King',
 'Premier Shard King Room',
 'Deluxe Double or Twin Room with Canal View Annex building',
 'Double Room large',
 'Signature Double Room',
 'Executive room with Executive lounge access Free Wifi',
 'Double Room with 2 tickets for a Cruise on the Seine river',
 'Club King Room Non Smoking with Executive Lounge Access',
 'Duplex Twin Room',
 'Luxury Double Room Small',
 'Parisian Junior Suite',
 '2 rooms',
 'Adjacent Double Rooms',
 'Superior Room with canal view',
 'Deluxe Room 3 Adults',
 'Executive Single Room',
 'Luxury Double Room',
 'Double Room with City View 1 2 Adults',
 'Fabulous Double or Twin Room',
 'Apartment 6 Adults',
 'Double Room with Parking',
 'Loft Suite with Terrace',
 'Double Room Radieuse',
 'Standard Guestroom',
 'King Grand Premier with Canal View',
 'Superior Double or Twin Room',
 'Executive Twin Room with City View',
 'One Bedroom Suite with Executive Lounge Access',
 'Superior Room with 1 Double Bed and 1 Sofa Bed 3 Adults',
 'Comfort Plus Double Room',
 'Double Room Trocad ro with Spa Bath',
 'Superior Room with 1 kingsize bed',
 'Quintuple Room',
 'Double Hilton Guest Room Plus',
 'Champs Elys es Prestige Room',
 'Aldwych Double Twin Room',
 'Executive Double Room with Access to Executive Lounge',
 'Executive Club Room',
 'Accessible King Room with Lounge Access',
 'Queen Room Disability Access Non Smoking',
 'superior Double or Twin Room with extra bed',
 'Executive King or Twin Room with Lounge Access',
 'Basic Double or Twin Room',
 'Couture Suite',
 'Stayed 1 night',
 'Duke of Monmouth Suite',
 'King Suite with Sofa Bed 3 Adults',
 'Privilege Room with Double Bed and Single Sofa Bed',
 'Superior Suite with View',
 'Club Suite',
 'Classic Double Room with City View',
 'Deluxe Double or Twin Room 2 adults 1 child',
 'Canal View Queens',
 'Hilton Superior Double Room',
 'Premier King Room',
 'Duplex Room 4 Adults',
 'Double Room with City View',
 'Business trip',
 'Mandarin Double or Twin Room',
 'King Room with View',
 'Budget Double Room Second Floor',
 'Accessible Studio Suite',
 'Junior Queen Suite with Sofa Bed',
 'Standard Double or Twin Room 3 Adults',
 'Double Room with Spa Bath',
 'Superior Queen Room with Paris View',
 'Suite Trocadero Balcony with Eiffel Tower View',
 'Fabulous Sky Room',
 'Cosy Room',
 'Superior Double or Twin Room XL with Extra bed',
 'Canal View Superior Deluxe Room with Spa Bath',
 'Deluxe King Plus',
 'King Deluxe Guest Room',
 'Superior Triple Room with 1 Double Bed 1 Single Bed',
 'Cool Corner Room',
 'Design Double or Twin Room',
 'River View Deluxe',
 'Double Room 1 2 Adults',
 'Suite with Spa Access 2 Adults',
 'Duplex Junior Suite with Spa access',
 'Compact Double Room with Private Bathroom',
 'Eiffel Suite',
 'Souterrain Comfort Room',
 'Family Room Two connecting Rooms',
 'Prestige Double Room with Eiffel Tower View',
 'Single Room Joy',
 'Superior Double or Twin Room with Spa Access',
 'Executive Double Room with Lounge Access',
 'Junior Suite Sans Mod ration',
 'Twin Executive Room with Lounge Access',
 'Standard Double Room with View Terrace',
 'Kings Three Bedroom Suite',
 'Penthouse Junior Suite with Access to Executive Lounge',
 'Studio Suite with Lounge Access',
 'Twin Hilton Sea View',
 'King City View Room',
 'Superior One Bedroom Suite with Executive Lounge Access',
 'Twin Room with Executive Lounge access',
 'Studio Twin',
 'One Bedroom King Suite with Garden View',
 'Queen Room with Mobility Access',
 'Superior Triple Room XL',
 'Stanhope Suite',
 'Double Room Attic',
 'Family Duplex Room',
 'Large Canal View King',
 'Deluxe Triple Room with Paris View',
 'Queen Family Room',
 'Jimmie Martin Penthouse Suite',
 'Wonderful Double or Twin Room',
 'Premium King or Queen Room',
 'Superior Twin Room with Internal View',
 'Room Sous les Toits 18m with Montmartre View',
 'Executive Twin Room with Whirlpool',
 'Superior Queen Suite with Sofa Bed',
 'Standard King Room Non Smoking',
 'Standard Room with Queen Bed and Sofa Bed',
 'Superior Four Poster Room',
 'Deluxe Double or Twin Room with Terrace',
 'Deluxe Double Room Canal View',
 'Suite Juliana',
 'Junior Suite Royal',
 'Standard Double Room Single Use',
 'Penthouse King Executive Room with Access to Executive Lounge',
 'Double Room with Sofa Bed Non Smoking',
 'Superior Twin Room with City View',
 'Signature Luxury King with Balcony',
 'Souterrain Triple Room',
 'Classic Double Room Les Pop',
 'Superior Double Room with Sea View',
 'Marvelous Suite',
 'Double or Twin Room with Terrace and Panoramic View',
 'Large Suite',
 'Privilege Double Room with Terrace',
 'Club Room',
 'King Suite with Sofa Bed 4 Adults',
 'Deluxe Double Room Swimming Pool Hammam Access upon reservation',
 'Hilton Deluxe King Room',
 'Palais Suite',
 'Premium Quadruple Room',
 'Two Adjacent Deluxe Rooms',
 'Standard Double Room with Sofa Bed',
 'King Hilton Executive Room with Access to Executive Lounge',
 'Double Room with Private Bathroom',
 'King Premier Room',
 'Superior Double Twin Room with Free Parking',
 'Classic Adjacent Rooms',
 'Suite with Eiffel Tower View VIP welcome',
 'Single Room with Spa Access',
 'Twin Plaza Executive Room',
 'Twin Hilton Room Plus',
 'One Bedroom Suite with Kitchenette',
 'Premier Room with Balcony',
 'Deluxe Double Room with Spa Bath',
 'Supreme Twin Room',
 'FAMILY PLAN',
 'King Room or Twin Room Disability Access',
 'Rooftop Suite',
 'King Grand Premier Room',
 '4 rooms',
 'Deluxe Twin Room with View',
 'Deluxe Double or Twin Room with Mountain View',
 'Premier Single Room',
 'Belgravia Suite',
 'Superior Room with 1 Queen Bed and Sofa',
 'Junior Room',
 'Hyatt King Room with View',
 'Superior Duplex Room',
 'Junior Suite with Courtyard View',
 'Quadruple Room Annex',
 'Superior Double Room with Sofa',
 'Standard Room with 1 Double Bed and 1 Sofa Bed',
 'Deluxe Double or Twin Room with VIP Services',
 'Stayed 29 nights',
 'Double Room with Extra Bed 2 Adults 1 Child',
 'Champs Elys es Prestige Junior Suite',
 'Deluxe Junior Suite with Lounge Access',
 'King Double Room',
 'Superior room 3 persons',
 'Double Room 1 Adult',
 'Studio King',
 'Club Junior Suite',
 'Royal Penthouse with Canal View',
 'Executive Studio City View Family',
 'Superior Shard King',
 'Two Connected Double Rooms',
 'Standard Room with queen size bed and double sofa bed',
 'Deluxe Suite with Executive Lounge Access',
 'Comfort Double or Twin Room Non Smoking',
 'Premium Double or Twin Room with View and Terrace',
 'Dalston King',
 'Deluxe Room with spa access',
 'Deluxe Double or Twin Room 1 2 Adults',
 'Room with River View Upper Deck',
 'Twin Guestroom',
 'Suite with Spa Bath',
 'Park Executive Suite',
 'Double Room Disability Access Non Smoking',
 'Classic Twin View',
 'Executive King Suite',
 'Ring Suite',
 'Corner Double Room',
 'Deluxe Double Room with Private Pool',
 'Double Room with Garden View',
 'Premier King Room with City View',
 'Special Offer Classic Double Room',
 'Special Room',
 'Twin Room 1 2 people',
 'Superior Business Room with a Double Bed and Sofa Bed',
 'Superior Room with Balcony or Terrace',
 'Art King Room',
 'Standard Double Room with Queen Bed',
 'Classic Double Single Use',
 'Room with View',
 'Business Double Room with WiFi and Breakfast',
 'Premium Double Room with Terrace',
 'Double Room Lady Soul',
 'Junior Suite with Terrace and City view',
 'Luxury Double Room Large',
 'Triple Room with Mobile Phone 3 adults',
 'Classic Room with Garden View',
 'Triple Room Disability Access',
 'Art Deco Deluxe Room',
 'Standard 1 Bedroom Apartment',
 'Twin Room with Private Bathroom',
 'Privilege Double or Twin Room with Spa Access',
 'Family Room 2 Adults 1 Child',
 'River View Balcony Suite',
 'Two Adjacent Classic Rooms',
 'Deluxe Room With Pool Access',
 'Standard Twin Room with 2 single beds',
 'Standard Family Suite with Two Connecting Rooms 4 Adults',
 'Imperial Suite',
 'King Suite with Executive Lounge Access',
 'Superior Double or Twin Room with Eiffel Tower partial view',
 'Double Room with Terrace',
 'Royal Mews View King Room',
 'Deluxe Double Room Annex',
 'Executive Double Room with Whirlpool',
 'Junior Triple Room',
 'Superior Double Room with Free Access to Hamman',
 'Superior Double or Twin Room with Canal View',
 'Romantic Offer Double Room',
 'Standard Duplex Room 3 Adults',
 'Double Room Op ra Garnier with Spa Bath',
 'Standard Twin Room with Tea Time Included',
 'Junior Suite with Pool Access',
 'Deluxe Queen Room with Balcony',
 'Cosmopolitan Suite',
 'Family Room with View 2 Adults 2 Children',
 'Privilege Room With View',
 'One Bedroom Suite with Air Conditioning',
 'Superior Twin Room with Terrace',
 'Standard Double Room with Two Single Beds',
 'Superior Room with View of Big Ben',
 'Special Offer Classic Room',
 'Deluxe Suite with River View',
 'Two Connecting Classic Double Rooms',
 'Deluxe Triple Room Swimming Pool Hammam Access upon reservation',
 'Art Deco Double Room',
 'Tiny Single Room',
 'Executive Double Room with Spa Fitness Access',
 'Corner Suite',
 'Classic Double Room Loge Classique',
 'Souterraine Double or Twin Room',
 'Suite Reloj',
 'Deluxe Family Room with SPA Access',
 'Weekend Offer Standard Studio',
 'Superior Room with Queensize Bed and double couch 2 adults 2 children',
 'Business Double Room with 500 Frequent Flyer Miles',
 'Twin Room 1 2 Adults',
 'Standard Room with 1 Double Bed and 1 Double Sofa bed',
 'Standard Double Room Disability Access',
 'Double Room Luxury XXL King size bed',
 'Executive King',
 'Deluxe Double or Twin Room Light my Fire',
 'Executive Master Suite',
 'Classic Room',
 'Souterrain Executive Double Room',
 'One Bedroom Suite with Kitchen',
 'Privilege Double Room with Eiffel Tower View',
 'Single Room with Garden View',
 'Junior King Suite with Lounge Access',
 'Club Double Room with Lounge Access',
 'Business Suite',
 'Double Room Relax',
 'Luxury Suite Conservatory with Lounge Access',
 'Deluxe King Guestroom',
 'Premier Double Room with Panoramic View and Executive Lounge Access',
 'Single Room Lower Ground Floor',
 'Junior Suite Parisienne',
 'Standard Room With 2 Zip Beds',
 'Special Offer Comfort Double Room with Breakfast and Parking Included',
 'Executive Triple Room with Garden View',
 'Two Bedroom Suite with Two Bathrooms',
 'Special Offer Executive Double Twin Room with Access to Nagomi Health',
 'Superior Twin Room with Pool Access',
 'Junior Suite Saint Honor',
 'Executive Double Room',
 'Deluxe King Room Balcony with Eiffel Tower View',
 'Studio',
 'Superior Deluxe Room with Spa Bath',
 'Duplex',
 'King Junior Suite with View',
 'Standard',
 'Classique Square',
 'Suite Couture',
 'Studio Room',
 'Suite 2 Adults 2 Children',
 'Luxury Room',
 'Art Twin Room',
 'Standard Double or Twin Room Annex Building',
 'Classic Double or Single Room',
 'King Executive Room',
 'Superior Room with 1 Double Bed and 1 Sofa Bed 2 places',
 'Deluxe One Bedroom Suite',
 'Grand Executive King Room',
 'Emotion Room',
 'Classic Double Room with Courtyard View',
 'Stayed 7 nights',
 'Executive Twin Room',
 'Double Superior Room',
 'Double or Twin Room with Sofa Bed',
 'Junior Suite with View',
 'Superior Double Room with Sofa Bed',
 'Superior Double or Twin Room with Garden View',
 'Luxury Single Room',
 'Comfort Single Room with Shower',
 'Double Family Guestroom',
 'Two Connecting Rooms with Free Access to Hamman',
 'Double or Twin Room with Balcony',
 'Terrace Suite with Lounge Access',
 'Deluxe Contemporary Room',
 'Emperor Suite',
 'Premier Double or Twin Room',
 'Accessible Double Guest Room',
 'Luxury Room 3 Adults with canal view',
 'Executive Double Room with Sofa Bed',
 'Grand Deluxe Double or Twin Room',
 'Deluxe Double Room with Balcony',
 'Deluxe Garden Room',
 'Suite Family Room',
 'Park Deluxe Executive King',
 'Tradition Twin Room',
 'Double Room 3 Adults',
 'Executive Room with One Queensize Bed with Balcony',
 'Leisure trip',
 'Double Queen Waterfront',
 'Suite with Terrace',
 'Executive Queen Room with Balcony',
 'Superior Room with City View',
 'Superior Executive Twin Room',
 'Andaz Large Suite',
 'Business Double Room 1 Adult',
 'Deluxe Guest room 1 King or 2 Twin Single Bed s',
 'Superior Room with Club Lounge Access Free Wifi',
 'Single Room with Bathroom',
 'Family Quadruple Room',
 'Superior Double Room Single use',
 'Superior Twin Room with Private Pool',
 'Standard Room with 1 Double Bed',
 'Standard Double Room with Bath',
 'Superior Room with Spa access',
 'Executive Studio',
 'Superior Twin Room with Eiffel Tower View',
 'Double Room Medium Heritage',
 'Executive Apartment',
 'Premium King Room',
 'Junior Suite with Cathedral View',
 'Junior Suite Split Level with Lounge Access',
 'Lower Ground Double Room',
 'Family Room Sleeps Four',
 'Two Double Adjoining Rooms',
 'Garden View Twins',
 'Andaz Double Room',
 'Single Hilton Guest Room',
 'Junior Suite With Free Access to Steam Bath',
 'Suite with Spa Access 4 Adults',
 'Junior Double Suite',
 'One Bedroom Suite with Lounge Access',
 'Deluxe Room 2 Adults',
 'Luxury Suite',
 'Executive Double Room with Air Conditioning',
 'Apartement',
 'Triple Room Relax',
 'Suite 3 Adults',
 'Penthouse Suite with View',
 'Superior Double Room with Terrace and Private Pool',
 'Suite with Garden View and Parking',
 'Triple Room 2 Adults 1 Child',
 'Standard Room with Spa Access',
 'Urban Junior Suite',
 'Classic Double or Twin Room with City View',
 'Deluxe Double Room with State Opera View',
 'Iconic King Room With City View',
 'Superior Double or Twin Room Non Smoking',
 'View Queen',
 'Mini Room',
 'King Room with Balcony',
 'Double Room with Extra Bed 2 Adults 1 Child with Ramblas View',
 'Junior Suite 2 Adults with Free Airport Shuttle Service from 5 00am to 00 30am',
 'Superior Queen Room',
 'Suite with Spa Access 1 Adult',
 'Junior Suite with Park View',
 'Double or Twin Room with Extra Bed',
 'Classic Room with 1 Queen bed',
 'King Corner Room',
 'Classic Double or Twin Room with Spa Access',
 'Cosy Double Room',
 'King Junior Suite City View with Access to Executive Lounge',
 'Junior Suite 5 Adults',
 'Junior Suite Blue Sunshine',
 'Bunk Bed Room',
 'Premier River King Room',
 'Family Queen Room',
 'Two Connecting Superior Double Rooms',
 'Basic Double',
 'Deluxe Double Room Non Smoking',
 'Double Room XL',
 'Superior Double Room with Terrace and Jacuzzi',
 'Loft Suite Disability Access',
 'Junior Suite 1 3 Adults',
 'Cosy Twin Room',
 'Family Suite 4 Adults',
 'Junior Suite with Lounge Access and City View',
 'Superior Queen Room with Sofa',
 'Queensgate Twin Room',
 'Superior Double Room with free unlimited WIFI',
 'Double Room for Single Use',
 'Maisonette',
 'Duplex Suite with Sofa Bed',
 'Executive Room with 1 Queensize Bed',
 'Special Offer Classic Room with Parking',
 'One Bedroom Apartment',
 'Presidential suite with view terrace',
 'Superior Double',
 'Economy Single Room',
 'Superior Double or Twin Room with Courtyard view',
 'Executive Suite 1 King',
 'Superior King Room with Iconic View',
 'Small Double Room with Canal View',
 'Double Room Disability Access Tub',
 'Double or Twin Room Allergy Free',
 'Large Comfort Twin Room Disability Access',
 'Studio Double Family',
 'Junior Suite Give me the night',
 'Two Bedroom Family Room',
 'Twin Deluxe Guest Room',
 'Wonderful Exchange King',
 'Luxury Two Bedroom Apartment',
 'Superior room with Queen bed and sofa',
 'Two Bedroom Apartment',
 'Junior Suite with Spa Bath',
 'Deluxe Studio Suite',
 'Double Guest Room',
 'Superior Capucines Room',
 'Royal Suite with Canal View',
 'Room Assigned at Check in',
 'Twin Room with Spa Bath',
 'Stayed 11 nights',
 'Standard Studio',
 'Privilege Room with King bed',
 'Classic Double Room with Balcony',
 'Deluxe Room Barlow Wing',
 'Mosaic Double Room',
 'Small Double or Twin Room',
 'Budget Single Room',
 'Superior Double Room with 1 extra bed',
 'Queensgate Double Room',
 'Quadruple Room with Shower',
 'Deluxe King Room with Paris View',
 'Spectacular Double Room',
 'Stayed 6 nights',
 'Studio Deluxe Suite',
 'Mega Room',
 'Twin Hilton Guestroom',
 'Falconers One Bedroom Suite',
 'Royal Double Room',
 'Superior Double Room with Saint Germain des Pr s Church View',
 'Executive Suite with Free Airport Shuttle Service from 5 00am to 00 30am',
 'Urban Suite',
 'Executive Double Room with Mobile Phone',
 'Drop Dead Gorgeous Splash Suite',
 'Junior Suite with Extra Bed 3 Adults',
 'Twin Hilton Deluxe Room',

In [322]:
hotels['nights'] = 1
night_counter = pd.Series().astype(int)
counter = 0

for tags_listed in hotels['tags_n']:
    for i in tags_listed:
        if i[0:6] == 'Stayed':
            hotels['nights'][counter] = i[6:9]
    counter += 1

C:\Users\Vad\AppData\Local\Temp\ipykernel_11612\4167505632.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  night_counter = pd.Series().astype(int)
C:\Users\Vad\AppData\Local\Temp\ipykernel_11612\4167505632.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotels['nights'][counter] = i[6:9]

In [323]:
#hotels['tags_filtered'] = enum['tags_n'].apply(lambda x: x if x in pop_tags else 'other')
#display(hotels['tags_filtered'])

In [325]:
hotels['nights'] = hotels['nights'].astype(int)
hotels['nights'].value_counts()

1    147262
2    100348
3     72010
4     35748
5     15611
6      7399
7      5549
8      1910
9       966
Name: nights, dtype: int64

In [326]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 22 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  int32
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  float64
 15  lat                                         386803 non-null  float64
 16  lng                                         386803 non-null  float64
 17  review_words_proportion                     386803 non-null  float64
 18  hotel_country                               386803 non-null  category
 19  is_homeland                                 386803 non-null  bool
 20  tags_n                                      386803 non-null  object
 21  nights                                      386803 non-null  int32
dtypes: bool(1), category(1), float64(5), int32(2), int64(5), object(8)
memory usage: 56.8+ MB

In [327]:
hotels.drop(['lat','lng', 'days_since_review', 'review_date','hotel_country', 'review_words_proportion', 'is_homeland', 'nights'], axis=1, inplace=True)
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)
X = hotels.drop(['reviewer_score'], axis = 1)  
Y = hotels['reviewer_score']

In [328]:
num_cols = ['total_numbers_of_reviews', 'review_total_negative_word_count','additional_number_of_scoring']

cat_cols = ['average_score']

In [329]:
Y = Y.astype('int')


from sklearn.feature_selection import chi2 # хи-квадрат

#imp_cat = pd.Series(chi2(X[cat_cols], Y)[0], index=cat_cols)
#imp_cat.sort_values(inplace = True)
#imp_cat.plot(kind = 'barh')

In [330]:
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split

In [331]:
object_columns = [s for s in X.columns if X[s].dtypes == 'object']
print(object_columns)
X.drop(object_columns, axis = 1, inplace=True)
#X.drop('review_date',axis=1, inplace=True)

['hotel_address', 'hotel_name', 'reviewer_nationality', 'negative_review', 'positive_review', 'tags', 'tags_n']

In [332]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [333]:
X_train.head(5)

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given
22852,488,18,43,4645,55,13
67350,234,5,6,1884,9,1
95937,950,22,2,3486,2,1
352230,285,23,7,3181,5,4
73517,103,28,6,786,0,2

In [334]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290102 entries, 22852 to 121958
Data columns (total 6 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                290102 non-null  int64
 1   average_score                               290102 non-null  int32
 2   review_total_negative_word_counts           290102 non-null  int64
 3   total_number_of_reviews                     290102 non-null  int64
 4   review_total_positive_word_counts           290102 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  290102 non-null  int64
dtypes: int32(1), int64(5)
memory usage: 14.4 MB

 0   additional_number_of_scoring                96701 non-null  int64

 1   average_score                               96701 non-null  float64

 2   review_total_negative_word_counts           96701 non-null  int64

 3   total_number_of_reviews                     96701 non-null  int64

 4   review_total_positive_word_counts           96701 non-null  int64
 
 5   total_number_of_reviews_reviewer_has_given  96701 non-null  int64

 MAPE: 0.17100510492941573

MAPE: 0.1714944134645002

MAPE: 0.16508613530687957

In [335]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
  
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [336]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.168007387897149

Небольшой бонус:

In [337]:
# # убираем признаки которые еще не успели обработать, 
# # модель на признаках с dtypes "object" обучаться не будет, просто выберим их и удалим
# object_columns = [s for s in hotels.columns if hotels[s].dtypes == 'object']
# hotels.drop(object_columns, axis = 1, inplace=True)

# # заполняем пропуски самым простым способом
# hotels = hotels.fillna(0)