In [ ]:
import pandas as pd # Импорт нужных библотек
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [5]:
sd_df = pd.read_csv('data/solarpower.csv')
print(sd_df.head())
print(sd_df['cum_power'].describe())

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0
count      664.000000
mean     23775.573795
std       2636.399680
min         -1.000000
25%      22043.750000
50%      24036.000000
75%      25320.750000
max      28120.000000
Name: cum_power, dtype: float64

In [6]:

for i,row in sd_df.iterrows():
    if row['cum_power'] == -1:
        sd_df.loc[i, "cum_power"]  =  (sd_df.loc[i-1, "cum_power"] + sd_df.loc[i+1, "cum_power"])/2

print(sd_df['cum_power'].describe())

count      664.000000
mean     23848.246988
std       2299.031052
min      20111.000000
25%      22071.250000
50%      24037.000000
75%      25335.500000
max      28120.000000
Name: cum_power, dtype: float64

In [18]:
import datetime as dt
sd_df['day_power'] = sd_df['cum_power']
print(sd_df.info())
sd_df['date'] = pd.to_datetime(sd_df['date'])
print(sd_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    datetime64[ns]
 1   cum_power  664 non-null    float64
 2   day_power  664 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 15.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    datetime64[ns]
 1   cum_power  664 non-null    float64
 2   day_power  664 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 15.7 KB
None

In [30]:
mask = sd_df[(sd_df['date'] >= '2017-02-28') & (sd_df['date'] <= '2017-04-01')]

         date  cum_power  day_power
58 2017-02-28    20312.0    20312.0
59 2017-03-01    20318.0    20318.0
60 2017-03-02    20323.0    20323.0
61 2017-03-03    20327.0    20327.0
62 2017-03-04    20331.0    20331.0
63 2017-03-05    20335.0    20335.0
64 2017-03-06    20337.0    20337.0
65 2017-03-07    20342.0    20342.0
66 2017-03-08    20352.0    20352.0
67 2017-03-09    20353.0    20353.0
68 2017-03-10    20362.0    20362.0
69 2017-03-11    20375.0    20375.0
70 2017-03-12    20383.0    20383.0
71 2017-03-13    20399.0    20399.0
72 2017-03-14    20411.0    20411.0
73 2017-03-15    20418.0    20418.0
74 2017-03-16    20433.0    20433.0
75 2017-03-17    20449.0    20449.0
76 2017-03-18    20461.0    20461.0
77 2017-03-19    20464.0    20464.0
78 2017-03-20    20468.0    20468.0
79 2017-03-21    20475.0    20475.0
80 2017-03-22    20487.0    20487.0
81 2017-03-23    20500.0    20500.0
82 2017-03-24    20518.0    20518.0
83 2017-03-25    20538.0    20538.0
84 2017-03-26    20558.0    20558.0
85 2017-03-27    20578.0    20578.0
86 2017-03-28    20599.0    20599.0
87 2017-03-29    20616.0    20616.0
88 2017-03-30    20626.0    20626.0
89 2017-03-31    20646.0    20646.0
90 2017-04-01    20652.0    20652.0

In [31]:
print(mask['day_power'].describe())
for i,row in mask.iterrows():
    while i < len(sd_df['day_power']):
        if i == 0:
            mask.loc[i, "day_power"] = 0
        else:
            mask.loc[i, "day_power"]  =  (sd_df.loc[i, "day_power"] - sd_df.loc[i-1, "day_power"])
        i += 1

print(sd_df['day_power'].describe())

mask['day_power'].mean()

count       33.000000
mean     20446.848485
std        107.096371
min      20312.000000
25%      20352.000000
50%      20433.000000
75%      20518.000000
max      20652.000000
Name: day_power, dtype: float64

C:\Users\admin\AppData\Local\Temp\ipykernel_13368\2171489360.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mask.loc[i, "day_power"]  =  (sd_df.loc[i, "day_power"] - sd_df.loc[i-1, "day_power"])

count      664.000000
mean     23848.246988
std       2299.031052
min      20111.000000
25%      22071.250000
50%      24037.000000
75%      25335.500000
max      28120.000000
Name: day_power, dtype: float64

12.887788778877887